@font-face {
  font-family: Changa One;
  src: url('@/assets/fonts/ChangaOne-Regular.ttf');
}
@font-face {
  font-family: Poppins;
  src: url('@/assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins Black;
  src: url('@/assets/fonts/Poppins-Black.ttf');
}