* {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
}
html {
  font-family: Poppins;
  font-size: 100%;
}
#__nuxt {
  background: #2f2e3c;
}
#__nuxt, #__layout {
  height: 100%;
}

html {
  @include phone {
    font-size: 16px;
  }
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 20px;
  }
}